

.after-woa {
  .jumbotron {
    height: 480px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      filter: sepia(100%) brightness(0.65) saturate(.6) hue-rotate(-200deg);
      background-image: asset-url('images/march_for_science_banner.jpg');
      background-size: cover;
      background-position: left center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: get-color(blue);
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-transform: uppercase;

      background-color: rgba(get-color(blue), .85);
      padding: 34px;
      letter-spacing: 4px;
      position: relative;
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        width: 50vw;
        height: 3px;
        background-color: white;
        display: inline-block;
        top: 50%;
        transform: translateX(calc(-50vw - 32px)) translateY(-2px);
        left: 0;
      }

      &:after {
        content: "";
        position: absolute;
        width: 50vw;
        height: 3px;
        background-color: white;
        display: inline-block;
        top: 50%;
        transform: translateX(32px) translateY(-2px);
        left: 100%;
      }

      h1 {
        //font-family: 'Source Sans Pro', Arial, sans-serif;
        letter-spacing: 8px;
        margin: 8px 0;
        font-weight: 800;
      }

      h2 {
        margin-bottom: 0;
        //font-family: 'Source Sans Pro', Arial, sans-serif;
        letter-spacing: 1px;
        font-weight: 800;
      }

      .jumbotron-textContainer-date {
        font-weight: 100;
      }

      .jumbotron-textContainer-tag {
        letter-spacing: 2.5px;
        font-size: 8px;
        margin-top: 20px;
      }

      .weekOfActionLink a {
        color: white;
        margin-top: 20px;
      }
    }
  }

  .callToAction {
    h3 {
      font-family: 'Montserrat', sans-serif;
      background-color: get-color(teal5);
      text-align: center;
      text-transform: uppercase;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 40px;
      -webkit-box-align: center;
      flex-flow: wrap;

      @include breakpoint(baby-bear) {
        font-size: 32px;
      }
    }

    p {
      text-align: center;
      font-size: 20px;
      padding: 40px;

      color: get-color(blue);
    }

    button {
      height: 100%;
      margin: 12px;
      background-color: get-color(white, .2);
      border: 2px white solid;
      padding: 8px 12px;
      display: flex;
      border-radius: 10px;
       a {
         color: white;
         font-size: 16px;
         font-weight: bold;
         text-decoration: none;
         transition: color .3s;
       }

    }
  }

  .byTheNumbers {
    background-color: get-color(teal5);
    padding: 40px;
    text-transform: uppercase;

    h3 {
      text-align: center;
      font-weight: bold;
    }

    ul {
      display: flex;
      justify-content: center;
      padding: 0;

      @include breakpoint(baby-bear) {
        flex-flow: column;
        align-items: center;
      }
    }

    li {
      list-style: none;
      margin: 16px;
      width: 200px;

      background-color: get-color(white, .5);

      padding: 20px;
      text-align: center;

    }

    h4 {
      font-size: 48px;
      margin-bottom: 0;
    }

    span {
      font-size: 28px;
    }

  }

  .whatYouCanDo {

    img {
      height: 100px;
      width: 100px;
      padding: 10px;
      box-shadow: 0 0 3pt 0 grey;
    }

    ul {
      display: flex;
      justify-content: center;
      padding: 0;

      @include breakpoint(baby-bear) {
        flex-flow: column;
      }
    }

    h4 {
      margin-top: 16px;
      color: get-color(blue);
    }

    //li:first-child h4 {
    //  color: get-color(blue);
    //}
    //
    //li:last-child h4 {
    //  color: get-color(teal5);
    //}

    li {
      list-style: none;
      margin: 16px;

      background-color: get-color(gray2);

      padding: 20px;
      text-align: center;

      align-items: center;
      display: flex;
      flex-flow: column;


    }



    div {
      font-size: 20px;
    }

    .whatYouCanDo-imageContainer {
      height: 120px;
      width: 120px;
      border: 10px solid white;
      display: flex;
      align-items: center;
      justify-content: center;

    }

  }

  .sliderBox {
    height: 480px;
    display: flex;
    justify-content: center;
  }

  .sliderBox img {
    height: auto;
    width: 100%;
  }

  .socialMedia {
    background-color: get-color(orange);
    .socialMedia-links {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      li {
        list-style: none;
        padding: 20px;

        a {
          cursor: pointer;
          color: get-color(white);

          &:hover {
            text-decoration:none;
            outline: none;
          }

          &.fa-twitter:hover {
            color: #1da1f2;
          }
          &.fa-facebook-f:hover {
            color: #3b5998;
          }
          &.fa-instagram:hover {
            color: #cd486b;
          }
        }
      }
    }
  }
}
