

.after-woa {

  world-map {
    position: absolute;
    top: 30px;
    z-index: -1;
    width: 100%;
    height: 360px;

    g[role=menuitem] {
      opacity: .25;
    }
  }

  .homepage__celebration {
    position: relative;
    min-height: 420px;
  }

  .homepage__celebration--text {
    color: get-color(blue);
    width: 33.3333333%;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: bold;
  }

  .signup-modal {
    @include elevation(12);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 480px;
    background-color: white;
    padding: 32px;
    transform: translateY(100%);
    transition: transform .3s;
    transition-delay: visibility .3s;
    z-index: 9999999;
    max-width: 100vw;
    box-sizing: border-box;

    &.visible {
      transform: translateY(0%);
      transition: transform .3s;
      transition-delay: visibility 0;
    }

  }

  .signup-modal__dismiss {
    position: absolute;
    top: 12px;
    right: 12px;
    color: get-color(orange);
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
  }

  .cta-container {
    margin: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .jumbotron {
    height: 480px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    flex-flow: column;

    &:before {
      content: "";
      filter: sepia(100%) brightness(0.65) saturate(.6) hue-rotate(-200deg);
      background-image: asset-url('images/march_for_science_banner.jpg');
      background-size: cover;
      background-position: left center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: get-color(blue);
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-transform: uppercase;

      background-color: rgba(get-color(blue), .85);
      padding: 34px;
      letter-spacing: 4px;
      position: relative;
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        width: 50vw;
        height: 3px;
        background-color: white;
        display: inline-block;
        top: 50%;
        transform: translateX(calc(-50vw - 32px)) translateY(-2px);
        left: 0;
      }

      &:after {
        content: "";
        position: absolute;
        width: 50vw;
        height: 3px;
        background-color: white;
        display: inline-block;
        top: 50%;
        transform: translateX(32px) translateY(-2px);
        left: 100%;
      }

      h1 {
        //font-family: 'Source Sans Pro', Arial, sans-serif;
        letter-spacing: 8px;
        margin: 8px 0;
        font-weight: 800;
      }

      h2 {
        margin-bottom: 0;
        //font-family: 'Source Sans Pro', Arial, sans-serif;
        letter-spacing: 1px;
        font-weight: 800;
      }

      .jumbotron-textContainer-date {
        font-weight: 100;
      }

      .jumbotron-textContainer-tag {
        letter-spacing: 2.5px;
        font-size: 8px;
        margin-top: 20px;
      }

      .weekOfActionLink a {
        color: white;
        margin-top: 20px;
        font-size: 1.8rem;
        font-weight: bold;
        cursor: pointer;
        border-bottom: 1px solid white;
        padding-bottom: 5px;
        transition: padding-bottom .15s;
        &:hover {
          padding-bottom: 0px;
          text-decoration: none;
        }
      }
    }
  }

  .callToAction {
    h3 {
      font-family: 'Montserrat', sans-serif;
      background-color: get-color(blue);
      text-align: center;
      text-transform: uppercase;
      padding: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 40px;
      -webkit-box-align: center;
      flex-flow: wrap;
      margin: 0;

      @include breakpoint(baby-bear) {
        font-size: 32px;
      }
    }

    p {
      text-align: center;
      font-size: 20px;
      padding: 40px;

      color: get-color(blue);
    }

    button {
      height: 100%;
      margin: 12px;
      background-color: get-color(white, .2);
      border: 2px white solid;
      padding: 8px 12px;
      display: flex;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color .3s;
      margin-left: 18px;

      &:hover {
        background-color: get-color(white, .4);
      }

      a {
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        transition: color .15s;
      }

    }
  }

  .byTheNumbers {
    background-color: get-color(teal4);
    padding: 40px;
    text-transform: uppercase;
    color: white;
    overflow: hidden;
    background-image: asset-url('images/march_for_science_banner.jpg');
    background-size: cover;
    background-position: left center;
    background-blend-mode: soft-light;
    box-shadow: inset 0 0 120px 15px get-color(teal4);

    h3 {
      text-align: center;
      font-weight: bold;
      position: relative;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        width: 50vw;
        height: 2px;
        background-color: white;
        display: inline-block;
        top: 50%;
        transform: translateX(calc(-50vw - 32px)) translateY(-2px);
      }

      &:after {
        content: "";
        position: absolute;
        width: 50vw;
        height: 2px;
        background-color: white;
        display: inline-block;
        top: 50%;
        transform: translateX(32px) translateY(-2px);
      }
    }

    ul {
      display: flex;
      justify-content: center;
      padding: 0;
      background-color: get-color(teal4);
      box-shadow: 0 0 180px 180px get-color(teal4);
      max-width: calc(1168px - 180px);
      border-radius: 50%;

      @include breakpoint(baby-bear) {
        flex-flow: column;
        align-items: center;
      }
    }

    li {
      list-style: none;
      margin: 16px;
      width: 200px;

      background-color: get-color(white, .25);

      padding: 20px;
      text-align: center;

    }

    h4 {
      font-size: 7.2rem;
      margin-bottom: 0;
      letter-spacing: -2px;
      font-weight: bold;
    }

    span {
      font-size: 3.2rem;
    }

  }

  .whatYouCanDo {

    ul {
      display: flex;
      justify-content: center;
      padding: 0;

      @include breakpoint(baby-bear) {
        flex-flow: column;
      }
    }

    h4 {
      margin-top: 8px;
      color: get-color(blue);
    }

    li {
      list-style: none;
      margin: 16px;

      padding: 0;
      text-align: center;

      align-items: center;
      display: flex;
      flex-flow: column;
    }



    div {
      font-size: 20px;
    }

    .whatYouCanDo-imageContainer {
      @include elevation(2);
      height: 140px;
      width: 140px;
      border: 10px solid white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      img {
        border-radius: 50%;
        background-size: 65%;
        background-position: center;
        background-repeat: no-repeat;
        height: 120px;
        width: 120px;
        padding: 10px;
      }

      &.blue {
        img {
          background-color: get-color(blue5);
        }
      }

      &.orange {
        img {
          background-color: get-color(orange);
        }
      }

      &.teal {
        img {
          background-color: get-color(teal5);
        }
      }

      &.green {
        img {
          background-color: get-color(green2);
        }
      }

    }
  }

  .sliderBox {
    height: 480px;
    display: flex;
    justify-content: center;
  }

  .sliderBox img {
    height: auto;
    width: 100%;
  }

  .socialMedia {
    background-color: get-color(blue);
    margin-top: -12px;
    
    .socialMedia-links {
      margin: 0;
      padding: 0;
      text-align: center;
      display: block;
      position: relative;
      overflow: hidden;
      padding: 0;

      &:before {
        content: "";
        position: absolute;
        width: 50vw;
        height: 2px;
        background-color: white;
        display: inline-block;
        top: 50%;
        transform: translateX(calc(-50vw - 32px)) translateY(-2px);
        @include breakpoint(papa-bear){
          display: none;
        }
      }

      &:after {
        content: "";
        position: absolute;
        width: 50vw;
        height: 2px;
        background-color: white;
        display: inline-block;
        top: 50%;
        transform: translateX(32px) translateY(-2px);
        @include breakpoint(papa-bear){
          display: none;
        }
      }


      li {
        list-style: none;
        padding: 0 14px;
        display: inline;

        a {
          cursor: pointer;
          color: get-color(white);
          font-size: 2.4rem;
          line-height: 62px;

          &:hover {
            text-decoration:none;
            outline: none;
          }

          &.fa-twitter:hover {
            color: #1da1f2;
          }
          &.fa-facebook-f:hover {
            color: #3b5998;
          }
          &.fa-instagram:hover {
            color: #cd486b;
          }
        }
      }
    }
  }
}
