@import './theme';
@import './components';
@import 'assets';

html {
  font-size: 62.5%;

  @include breakpoint(mama-bear){
    font-size: 58.5%;
  }
  @include breakpoint(baby-bear){
    font-size: 52.5%;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  background-color: get-color(gray0);
  margin: 72px 0 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

hr {
  background-color: get-color(gray3);
  margin: 18px 0;
  height: 1px;
  width: 100%;
  border: none;
  float: left;
}

.app--nav {
  position: fixed;
  background-color: get-color(blue);
  left: 0;
  right: 0;
  top: 0;
  padding: 0 12px;
  z-index: 999;

  display: flex;
  flex-wrap: wrap;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: get-color(blue);
    height: 72px;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 12px;
  }

  a {
    
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }

  &__listitem {
    display: flex;
    align-items: center;
    a {
      white-space: nowrap;
      color: get-color(white);
      margin-right: 32px;
      text-decoration: none;
      line-height: 32px;
      font-size: 1.4rem;
      width: 100%;
      display: block;
      line-height: 64px;
    }
    a.active {
      color: get-color(orange);
    }

    &:last-of-type {
      background-color: rgba(255,255,255,.25);
      padding: 0 8px;
      text-align: center;
      margin-right: -12px;
    }
  }

  &__title {
    color: white;
    line-height: 72px;
    float: right;
    font-size: 1.8rem;
    float: left;
  }

  &__logo {
    height: 48px;
    width: auto;
    margin: 12px 12px;
    line-height: 48px;
    color: white;
    float: left;
  }

}

textarea {
  padding: 12px;
  margin: 0 0 16px 0  ;
  border: 1px solid #cccccc;
  display: block;
  text-align: left;
  outline: none;
  border-radius: 3px;
  transition: border-color 0.3s, opacity 0.3s, color 0.1s;
  font-size: 1.45rem;
  line-height: 1.375;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}

a {
  color: get-color(blue5);
  font-weight: bold;
  text-decoration: none;
  transition: color .3s;

  &:hover {
    text-decoration: underline;
  }
  &:active{
    color: darken(get-color(blue5), .25);
  }
}

.app--nav__listitem.hide-for-mobile, .app--nav__logo-link {
  @include breakpoint(baby-bear){
    display: none;
  }
}

.app--nav__logo-link {
  z-index: 9;
  position: relative;
}

.app--nav__list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  width: 100vw;
  overflow: scroll;
}

@import 'satellite';
@import 'satellites';
@import 'profile';
@import 'home-page';
@import 'vision';
