.home-page {

  .jumbotron {
    height: 400px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:before {
      content: "";
      filter: sepia(100) brightness(0.65) saturate(.6) hue-rotate(-200deg);
      background-image: asset-url('images/bg.jpg');
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: get-color(blue);
    }


    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-transform: uppercase;
      background-color: rgba(get-color(blue), .85);
      padding: 16px;
      letter-spacing: 2px;
      position: relative;
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        width: 50vw;
        height: 3px;
        background-color: white;
        display: inline-block;
        top: 50%;
        transform: translateX(calc(-50vw - 32px)) translateY(-2px);
        left: 0;
      }

      &:after {
        content: "";
        position: absolute;
        width: 50vw;
        height: 3px;
        background-color: white;
        display: inline-block;
        top: 50%;
        transform: translateX(32px) translateY(-2px);
        left: 100%;
      }
    }
  }

  .scienceCalendar {
    margin: 0;
    background-color: get-color(gray2);
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-self: flex-start;
    margin-bottom: 12px;

    li {
      list-style: none;
      position: relative;
      background-image: asset-url("images/button-active.svg");
      background-size: cover;
      background-repeat: no-repeat;


      &:first-child {
        margin-left: auto;
      }

      &:last-child {
        margin-right: auto;
      }

      img {
        height: 100%;
      }

      a {
        flex-flow: column;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        left: 0;
        color: get-color(gray2);


        &:hover,
        &:focus {
          color: get-color(orange);
          text-decoration: none;
        }

        span {
          text-transform: uppercase;
        }

        .scienceCalendar-scienceTag {
          font-size: 28px;
          font-weight: 100;
          flex: 1;
          display: flex;
          align-items: flex-end;

        }

        .scienceCalendar-dayTag {
          font-size: 12px;
          background-color: get-color(gray2);
          padding: 0 8px;
          font-weight: bold;
          letter-spacing: 2px;

          .scienceCalendar-dayTag:focus,
          .scienceCalendar-dayTag:hover,
          .scienceCalendar-scienceTag:focus,
          .scienceCalendar-scienceTag:hover {
            text-decoration: none;
            color: get-color(white)
          }
        }
      }
    }

    li:hover img,
    li:focus img {
      opacity: 0;
      transition: opacity .3s;
    }

    li:hover .scienceCalendar-dayTag,
    li:focus .scienceCalendar-dayTag {
      background-color: #30bdbb;
      //TODO: make this asset using background colors
      //background-color: get-color(teal);
      transition: background-color .3s;
    }
  }

  .QOD {
    color: get-color(teal4);
    font-size: 40px;
    font-weight: 100;
    text-align: center;
  }

  .callToAction {
    padding: 0;
    display: flex;
    justify-content: space-between;

    li {
      list-style: none;
      padding: 16px;
      background-color: get-color(teal);
      display: flex;
      flex-flow: column;
    }

    h3 {
      display: flex;
      font-family: inherit;
      color: get-color(black);
      text-transform: uppercase;
      font-weight: 600;
    }

    .callToAction-body {
      flex: 1;
      display: flex;
      justify-content: flex-start;
    }

    .u-button {

      background-color: get-color(black);

      color: get-color(white);
      text-transform: uppercase;
      a {
        color: get-color(white);
      }
      a:hover, a:focus {
        text-decoration: none;
        outline: none;
      }
    }
  }

  .socialMedia {

    header {
      background-color: get-color(orange);

      display: flex;
      justify-content: space-around;
      align-items: center;

      color: white;

      h1 {
        margin: 0;

        font-family: inherit;
        font-size: 3.8em;
        font-weight: 600;
      }

      .u-button {
        margin: 0;
        height: 100%;

        background-color: get-color(white, .4);
        padding: 4px 12px;
        display: flex;
        flex-flow: column;
        align-items: center;
        line-height: initial;

        .socialMedia-actionHow {
          font-size: .1em;
          font-weight: 100;
          text-transform: uppercase;
          text-space: 4px;
          letter-spacing: 1px;
        }
      }

    }
    .socialMedia-longActionStory {
      padding: 16px;
      text-align: center;

      span {
        display: block;
      }
    }

    .socialMedia-links {
      display: flex;
      justify-content: center;

      li {
        list-style: none;
        padding: 0 24px 24px 0;
      }
    }
  }

  .moreCallToAction {
    background-color: get-color(teal, .2);
    display: flex;
    flex-direction: column;
    header {
      background-color: get-color(teal);
      padding: 12px 0;
      h1 {
        background-color: get-color(white);
        margin: 0;
        padding: 4px 24px;
      }
    }

    li {
      list-style: none;
      p span {
        display: block;
      }
    }
  }

}


