.home-page {

  .home-page-genericHeader {
    background-color: get-color(teal);
    padding: 12px 0;

    h1 {
      width: 100%;
      background-color: get-color(white);
      margin: 0;
      padding: 4px 24px;
      text-align: center;
    }
  }

  .jumbotron {
    height: 400px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      filter: sepia(100%) brightness(0.65) saturate(.6) hue-rotate(-200deg);
      background-image: asset-url('images/bg.jpg');
      background-size: cover;
      background-position: center center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: get-color(blue);
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-transform: uppercase;

      background-color: rgba(get-color(blue), .85);
      padding: 34px;
      letter-spacing: 4px;
      position: relative;
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        width: 50vw;
        height: 3px;
        background-color: white;
        display: inline-block;
        top: 50%;
        transform: translateX(calc(-50vw - 32px)) translateY(-2px);
        left: 0;
      }

      &:after {
        content: "";
        position: absolute;
        width: 50vw;
        height: 3px;
        background-color: white;
        display: inline-block;
        top: 50%;
        transform: translateX(32px) translateY(-2px);
        left: 100%;
      }

      h1 {
        //font-family: 'Source Sans Pro', Arial, sans-serif;
        letter-spacing: 8px;
        margin: 8px 0;
        font-weight: 800;
      }

      h2 {
        margin-bottom: 0;
        //font-family: 'Source Sans Pro', Arial, sans-serif;
        letter-spacing: 1px;
        font-weight: 800;
      }

      .jumbotron-textContainer-date {
        font-weight: 100;
      }

      .jumbotron-textContainer-tag {
        letter-spacing: 2.5px;
        font-size: 8px;
      }
    }
  }

  .scienceCalendar {
    margin: 0;
    border: 10px solid get-color(blue);
    background-color: get-color(blue);
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    justify-self: flex-start;
    margin-bottom: 12px;

    li {
      height: auto;
      list-style: none;
      position: relative;
      background-image: asset-url("images/button-active.svg");
      background-size: cover;
      background-repeat: no-repeat;
      flex: 0;
      display: flex;

      &.active .scienceCalendar-verbTag {
        color: get-color(orange);
      }

      &:first-child {
        margin-left: auto;
      }

      &:last-child {
        margin-right: auto;
      }

      button {
        cursor: pointer;
        border: 0;

        background-color: transparent;

        padding: 0;
        position: relative;
        display: flex;
        color: get-color(gray2);

        &:enabled {
          color: get-color(white);
        }
        &:disabled .scienceCalendar-scienceTag,
        &:disabled .scienceCalendar-verbTag {
          opacity: .75;
        }
        &:disabled img {
          opacity: .4;
        }
        &:disabled {
          background-color: get-color(gray2);
        }
        &:hover:enabled,
        &:focus:enabled {
          color: get-color(orange);
          text-decoration: none;
          outline: none;
        }

        .scienceCalendar-buttonText {
          position: absolute;
          width: 100%;
          height: 100%;

          display: flex;
          flex-flow: column;

          text-transform: uppercase;
          font-weight: bold;
          left: 0;
        }

        .scienceCalendar-scienceTag {
          flex: 1;
          display: flex;
          align-items: flex-end;
          justify-content: center;

          text-align: center;
          font-size: 24px;
          font-weight: 100;
          letter-spacing: 2px;
          margin-left: 2px
        }

        .scienceCalendar-dayTag {
          margin: auto;
          background-color: get-color(gray2);

          padding: 0 8px;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 2px;

          .scienceCalendar-dayTag:focus:enabled,
          .scienceCalendar-dayTag:hover:enabled,
          .scienceCalendar-scienceTag:focus:enabled,
          .scienceCalendar-scienceTag:hover:enabled {
            text-decoration: none;
            color: get-color(white)
          }
        }
      }
    }

    .active img,
    li:hover button:enabled img ,
    li:focus button:enabled img  {
      opacity: 0;
      transition: opacity .3s;
    }

    .active .scienceCalendar-dayTag,
    li:hover button:enabled .scienceCalendar-dayTag,
    li:focus button:enabled .scienceCalendar-dayTag {
      background-color: #30bdbb;
      //TODO: make this asset using background colors
      //background-color: get-color(teal);
      transition: background-color .3s;
    }
  }
  .socialMedia {
    &-squiggleContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        border: solid 2px get-color(gray3);
        height: 0;
        width: 100%;
        margin: 40px 0 40px 0;
      }

      img {
        height: 54px;
      }
    }

    header {
      margin-bottom: 16px;
      background-color: get-color(orange);

      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: center;

      color: get-color(white);

      h1 {
        margin: 0 24px 0 0;

        text-align: center;
        font-family: inherit;
        font-size: 3.8em;
        font-weight: 600;

        @include breakpoint(baby-bear) {
          margin: 0;
          font-size: 5rem;
        }
      }

      .u-button {
        height: 100%;
        margin: 12px;
        background-color: get-color(white, .2);
        border: 2px white solid;
        padding: 8px 12px;
        display: flex;
        flex-flow: column;
        align-items: center;
        line-height: initial;

        .socialMedia-actionHow {
          font-size: .1em;
          font-weight: 100;
          text-transform: uppercase;
          text-space: 4px;
          letter-spacing: 1px;
        }
      }

      .u-button:hover {
        background-color: get-color(white, .4)
      }

    }
    .socialMedia-longActionStory {
      padding: 16px;
      text-align: center;

      span {
        display: block;
      }
    }

    .socialMedia-links {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      li {
        list-style: none;
        padding: 0 24px 24px 0;

        a {
          cursor: pointer;
          color: get-color(gray5);

          &:hover {
            text-decoration:none;
            outline: none;
          }

          &.fa-twitter:hover {
            color: #1da1f2;
          }
          &.fa-facebook-f:hover {
            color: #3b5998;
          }
          &.fa-instagram:hover {
            color: #cd486b;
          }
        }
      }
    }
  }

  .moreCallToAction {
    background-color: get-color(teal, .2);
    display: flex;
    flex-direction: column;

    ul {
      padding: 0;
    }

    li {
      list-style: none;
      display: flex;
      img {
        margin: 20px;
        height: 70px;
      }
      p {
        display: flex;
        flex-flow: column;
        justify-content: center;
      }
      p span {
        display: block;
      }
    }
  }

}

.callToAction-rightCall {
  background-color: get-color(teal, .2);
  flex: 4 auto;

  display: flex;
  flex-flow: column;
  justify-content: space-between;

    a {
      color: get-color(white);
    }

    a:hover, a:focus {
      text-decoration: none;
      outline: none;
    }
  }

.callToAction-body {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.home-page-megaphone {
  display: flex;
  align-items: center;

  img {
    height: 240px;
    margin: 24px 0 0 16px;
  }
  @include breakpoint(baby-bear){
    display: none;
  }
}

.home-page-megaphone-triangle,
.home-page-megaphone-text {
  //border: solid 3px get-color(gray5);
  //width: 50px;
  //height: 50px;
}

.home-page-megaphone-triangle {
  position: relative;
  margin-left: -44px;
  margin-top: -20px;

  @include breakpoint(baby-bear){
    display: none;
  }

  .home-page-megaphone-triangle-border {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;

    position: relative;

    &.grey {
      border-bottom: 100px solid get-color(gray3);
    }

    &.white {
      border-bottom: 100px solid get-color(white);
      position: absolute;
      top: -4px;
      left: 10px;
    }
  }
}

.home-page-megaphone-text {
  margin-top: 20px;

  border: 4px solid get-color(gray3);
  background-color: get-color(white);

  min-height: 160px;
  min-width: 320px;
  max-width: 640px;

  padding: 16px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.home-page-megaphone-text h3 {
  margin: 12px;

  flex: 0;
  text-transform: uppercase;
  color: get-color(gray5);

  p {
    font-size: 54px;
    color: get-color(orange);
    margin: 0;
  }
}

.home-page-megaphone-text-body {
  margin: 12px;
  flex: 1;

  font-weight: 100;
}

.home-page-megaphone-text-body-action {
  margin-bottom: 0;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 24px;

  .u-button {
    margin-bottom: 0;
    text-transform: uppercase;
  }
}

.home-page-callToAction {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;

  .home-page-callToAction-header {
    padding: 20px 0;

    h1 {
      text-transform: uppercase;
      text-align: center;
      font-size: 54px;
      letter-spacing: 4px;
    }
    h2 {
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 200;
      text-align: center;
    }
    .QOD {
      color: get-color(teal4);
      margin: 16px 0;
      font-size: 24px;
      font-weight: 100;
      text-align: center;
    }
  }

  .home-page-callToAction-body {

    @include breakpoint(baby-bear) {
      padding: 0;

      & .leftCall , & .rightCall {
        width: 100% !important;
        max-width: 100% !important;
      }

    }

  }

  .home-page-callToAction-body-call {
    padding: 16px;
    // display: flex;
    // flex-flow: column;
    justify-content: space-between;

    p a {
      color: get-color(black);
      text-decoration: underline;
      font-weight: bolder;
    }

    &.leftCall {
      max-width: 60%;
      float:left;
      background-color: get-color(teal);
      box-sizing: border-box;
    }

    &.rightCall {
      max-width: 40%;
      float:left;
      background-color: rgba(255, 255, 255, 0.7);
      position: relative;
      box-sizing: border-box;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100vw;
        background-color: rgba(255, 255, 255, 0.7);
        display: block;
      }
    }

    header {
      display: flex;

      h3 {
        color: get-color(black, .7);
        display: flex;
        font-family: inherit;
        text-transform: uppercase;
        font-weight: 600;
      }
    }

    .u-button {
      background-color: get-color(black, .7);
      min-width: 50px;
      color: get-color(white);
      text-transform: uppercase;

      a {
        color: get-color(white);
      }

    }

    .u-button:hover,
    .u-button:focus {
      background-color: get-color(orange);

      a {
        text-decoration: none;
      }
    }
  }
}

.moreCallToAction-bottomSpan {
  margin-top: 8px;
}


