<section id="satellites-admin-email" class="u-grid-container">
  {{outlet}}

  <section class="quill-editor">
    <header class="email-header">
      <h1>March for Science</h1>
      <h2>San Francisco</h2>
    </header>
    {{quill-editor}}
    <footer></footer>
  </section>

</section>