.aupac-typeahead {
  padding: 13px;
  border: none;
  display: block;
  text-align: left;
  outline: none;
  border-radius: 3px;
  transition: border-color 0.3s, opacity 0.3s, color 0.1s;
  font-size: 1.45rem;
  line-height: 1.375;
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  @include elevation(2);
}