@import "./info";

.user-profile__satellite-list {
  list-style: none;
  margin: 0 0 16px 0;
  padding: 0;

}

.user-profile__satellite {
  margin: 0 0 12px 0;
  padding: 0;

  img {
    @include elevation(2);
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 16px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
  }
  h3 {
    font-size: 2.0rem;
    float: left;
    line-height: 45px;
    color: black;
    margin: 0;
  }
}

.user-profile__satellite-link {
  transition: background-color .3s;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 8px;
  &:hover {
    background-color: get-color(gray1);
  }
}