#user-profile__container {
  padding-top: 32px;

  .user-profile__user-image {
    @include elevation(2);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    float: left;
    margin-bottom: 6px;
    background-size: cover;
    background-position: center;
  }

  .user-profile__user-name {
    line-height: 90px;
    padding-left: 12px;
    float: left;
  }

  .user-profile__log-out {
    margin: 37px 0 0 12px;
    float: left;
  }

  .user-profile__image-upload {
    display: inline-block;
    overflow: hidden;
    float: left;
    position: relative;
    &:after {
      @include elevation(2);
      font: normal normal normal 14px/1 FontAwesome;
      content: "\f040";
      position:absolute;
      bottom: 3px;
      right: 3px;
      border-radius: 50%;
      background-color: white;
      width: 24px;
      height: 24px;
      text-align: center;
      line-height: 24px;

    }
  }

}