.u-button {
  background-color: get-color(orange);
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: inherit;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  padding: 0 16px;
  position: relative;
  color: white;
  transition: background-color .3s, color .3s;
  margin-bottom: 12px;
  display: inline-block;
  text-decoration: none;

  &:hover {
    background-color: darken(get-color(orange), 4%);
    text-decoration: none;
  }

  &:active {
    background-color: darken(get-color(orange), 8%);
  }

  i {
    margin-right: 4px;
    margin-left: -8px;
  }
}

.u-button--large {
  background-color: get-color(orange);
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: inherit;
  height: 42px;
  line-height: 42px;
  overflow: hidden;
  padding: 0 24px;
  position: relative;
  color: white;
  transition: background-color .3s, color .3s;
  margin-bottom: 12px;
  display: inline-block;
  text-decoration: none;

  &:hover {
    background-color: darken(get-color(orange), 4%);
    text-decoration: none;
  }

  &:active {
    background-color: darken(get-color(orange), 8%);
  }

  i {
    margin-right: 4px;
    margin-left: -8px;
  }
}


.u-button--teal {
  background-color: get-color(teal4);

  &:hover {
    background-color: darken(get-color(teal4), 4%);
    text-decoration: none;
  }

  &:active {
    background-color: darken(get-color(teal4), 8%);
  }
}


.u-button--gray {
  background-color: get-color(gray5);

  &:hover {
    background-color: darken(get-color(gray5), 4%);
    text-decoration: none;
  }

  &:active {
    background-color: darken(get-color(gray5), 8%);
  }
}

.u-button-block {
  display: block;
  text-align: center;
}

.u-button__tertiary {
  color: get-color(orange);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: inherit;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition: color .3s;
  margin-bottom: 12px;
  display: inline;
  text-decoration: none;

  &:hover {
    color: darken(get-color(orange), 4%);
    text-decoration: underline;
  }

  &:active {
    color: darken(get-color(orange), 8%);
  }

  i {
    margin-right: 4px;
    margin-left: -8px;
  }
}
