$CONFIG_GRID_GUTTER: 12px;
$CONFIG_FLEXGRID_LARGE_BREAKPOINT: 1156px + $CONFIG_GRID_GUTTER;
$CONFIG_FLEXGRID_SMALL_BREAKPOINT: 769px;
$CONFIG_FLEXGRID_MIN_CANVAS_WIDTH: 320px;

// Breakpoint mixin for setting grid breakpoints
// @mixin     breakpoint
// @param     $point {String} the name of desired breakpoint: papa-bear, mama-bear, baby-bear
@mixin breakpoint($point) {
  @if ($point == papa-bear) {
    @media (min-width: $CONFIG_FLEXGRID_LARGE_BREAKPOINT) { @content; }
  }
  @else if ($point == mama-bear) {
    @media (max-width: $CONFIG_FLEXGRID_LARGE_BREAKPOINT) and (min-width: $CONFIG_FLEXGRID_SMALL_BREAKPOINT) { @content; }
  }
  @else if ($point == baby-bear) {
    @media (max-width: $CONFIG_FLEXGRID_SMALL_BREAKPOINT) { @content; }
  }
}

.u-grid-container {
  @include clearfix();
  width: $CONFIG_FLEXGRID_LARGE_BREAKPOINT;
  display: block;
  margin: auto;
  @include breakpoint(baby-bear) {
    width: 100% !important;
  }
}



.u-grid-24 {
  width: 100%;
  float: left;
  @include breakpoint(baby-bear) {
    width: 100%;
  }
}

.u-grid-12 {
  width: calc(50% - 12px + (12px / 2));
  margin-right: 12px;
  float: left;
  @include breakpoint(baby-bear) {
    width: 100%;
  }
}


.u-grid-6 {
  width: calc(20% - 12px + (12px / 5));
  margin-right: 12px;
  float: left;
  @include breakpoint(baby-bear) {
    width: 100%;
  }
}

.u-grid-8 {
  width: calc(33.3333333% - 12px + (12px / 3));
  margin-right: 12px;
  float: left;
  @include breakpoint(baby-bear) {
    width: 100%;
  }
}

.u-grid-10 {
  width: calc(41.666666666% - 12px + (12px / 3));
  margin-right: 12px;
  float: left;
  @include breakpoint(baby-bear) {
    width: 100%;
  }
}

.u-grid-16 {
  width: calc(66.666666666% - 12px + (12px / 3));
  margin-right: 12px;
  float: left;
  @include breakpoint(baby-bear) {
    width: 100%;
  }
}

.u-grid-18 {
  width: calc(75% - 12px + (12px / 3));
  margin-right: 12px;
  float: left;
  @include breakpoint(baby-bear) {
    width: 100%;
  }
}

.u-grid-20 {
  width: calc(83.333333333% - 12px + (12px / 3));
  margin-right: 12px;
  float: left;
  @include breakpoint(baby-bear) {
    width: 100%;
  }
}

.u-grid-last {
  margin-right: 0;
}

.u-grid-block {
  display: block;
}

.u-grid-center {
  margin-left: auto;
  margin-right: auto;
  display: block !important;
  float: none;
}

.u-float-left {
  float: left;
}

.u-float-right {
  float: right;
}