@import "./admin";

.satellite-profile {

  .ql-bubble.ql-disabled .ql-editor {
    padding: 0;
  }

  .satellite-profile__header {
    width: 100%;
    display: block;
    min-height: 380px;
    box-sizing: border-box;
    padding-top: 24px;
    position: relative;
  }

  .satellite-profile__header--logo {
    width: 120px;
    height: 120px;
    background-image: asset-url('images/logo_color_inverse.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 12px;
    border-radius: 8px;
  }

  .satellite-profile__header--background {
    filter: sepia(100) brightness(0.25) saturate(2) hue-rotate(-200deg);
    background-size: cover;
    background-position: center;
    position: absolute;
    background-color: get-color(gray1);

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .satellite-profile__header--button {
    margin-top: 24px;
  }

  .satellite-profile__section {
    @include clearfix();
    margin-bottom: 32px;
    min-height: 240px;
  }

  .satellite-profile__section--gray {
    @include clearfix();
    min-height: 240px;
    position: relative;
    padding: 32px 0;
    margin-bottom: 32px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50vw);
      width: 100vw;
      z-index: -1;
      background-color: get-color(gray1);
      height: 100%;
    }
  }

  .satellite-profile__section--orange {
    @include clearfix();
    min-height: 240px;
    overflow: hidden;
    position: relative;
    padding: 32px 0;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50vw);
      width: 100vw;
      z-index: -1;
      background-color: get-color(orange);
      height: 100%;
    }
  }

  .satellite-profile__store-image {
    width: 100%;
    height: 0px;
    padding: 0 0 100% 0;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .satellite-profile__store-link {
    margin-bottom: 0;

    input {
      border-radius: 3px 3px 0 0 !important;
    }
  }


  .satellite-profile__section--team {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .satellite-profile__team-member {
    text-align: center;
    margin-bottom: 18px;

    img {
      @include elevation(2);
      width: 90px;
      height: 90px;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      border: 6px solid white;
      margin-bottom: 8px;
    }

    h4 {
      margin-bottom: 0px;
    }

    h5 {
      color: get-color(gray4);
      font-size: 1.6rem;
    }

  }

  .satellite-profile__team-member--empty {
    margin-top: 52px;
    color: get-color(gray5);
  }

}