@import "./admin";

.satellite-profile {

  .ql-bubble.ql-disabled .ql-editor {
    padding: 0;
  }

  .satellite-profile__header {
    width: 100%;
    display: block;
    min-height: 380px;
    box-sizing: border-box;
    padding-top: 24px;
    position: relative;
  }

  .satellite-profile__header--logo {
    width: 120px;
    height: 120px;
    background-image: asset-url('images/logo_color_inverse.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 12px;
    border-radius: 8px;
  }

  .satellite-profile__header--background {
    filter: sepia(100) brightness(0.25) saturate(2) hue-rotate(-200deg);
    background-size: cover;
    background-position: center;
    position: absolute;
    background-color: get-color(gray1);

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .satellite-profile__header--button {
    margin-top: 24px;
  }

  .satellite-profile__section {
    @include clearfix();
    margin-bottom: 32px;
    min-height: 240px;
  }

  .satellite-profile__section--gray {
    @include clearfix();
    min-height: 240px;
    position: relative;
    padding: 32px 0;
    margin-bottom: 32px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50vw);
      width: 100vw;
      z-index: -1;
      background-color: get-color(gray1);
      height: 100%;
    }
  }

  .satellite-profile__section--orange {
    @include clearfix();
    min-height: 240px;
    overflow: hidden;
    position: relative;
    padding: 32px 0;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50vw);
      width: 100vw;
      z-index: -1;
      background-color: get-color(orange);
      height: 100%;
    }
  }

  .satellite-profile__store-image {
    width: 100%;
    height: 0px;
    padding: 0 0 100% 0;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .satellite-profile__store-link {
    margin-bottom: 0;

    input {
      border-radius: 3px 3px 0 0 !important;
    }
  }


  .satellite-profile__section--team {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: wrap row;
  }

  .satellite-profile__teammate-remove {
    @include elevation(2);
    position: absolute;
    top: 80px;
    left: 50%;
    border-radius: 50%;
    background-color: white;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transform: translateX(20px) scale(1);
    transition: transform .3s;

    &:hover {
      transform: translateX(20px) scale(1.1);
    }
  }

  .satellite-profile__team-member, .satellite-profile__company-logo {
    text-align: center;
    margin-bottom: 18px;
    position: relative;

    img, .satellite-profile__add-new--image {
      @include elevation(2);
      width: 90px;
      height: 90px;
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      border: 6px solid white;
      margin-bottom: 8px;
    }

    &.satellite-profile_add-new {
      cursor: pointer;

      &:hover .satellite-profile__add-new--image {
        transform: scale(1.05);
      }
    }

    .satellite-profile__add-new--image {
      position: relative;
      display: block;
      float: none;
      margin: 0 auto 8px;
      transition: transform .3s;

      &:before {
        content: "\f067";
        font-family: "fontawesome";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        line-height: 95px;
        text-align: center;
        color: get-color(gray5);
        font-size: 6.2rem;
      }

    }

    h4 {
      margin-bottom: 0px;
    }

    h5 {
      color: get-color(gray4);
      font-size: 1.6rem;
    }

    p {
      position: absolute;
      top: 0;
      left: 12px;
      bottom: 0;
      right: 12px;
      overflow: auto;
      padding: 18px;
      background-color: rgba(0,0,0,.75);
      transition: opacity .3s;
      opacity: 0;
      margin: 0;
      color: white;
      font-size: 1.5rem;
      text-align: left;
      border-radius: 3px;
    }


    &:hover p {
      opacity: 1;
    }

  }

  .file-picker .satellite-profile__company-logo {
    width: 100%;
  }

  .satellite-profile__company-logo {
    img, .satellite-profile__add-new--image {
      border-radius: 12px;
    }

    a {
      text-decoration: none !important;
    }

    .satellite-profile__teammate-remove {
      transform: translateX(32px) scale(1);
    }
  }

  .satellite-profile__endorsement-upload {

  }

  .satellite-profile__team-member--empty {
    margin-top: 52px;
    color: get-color(gray5);
    width: 100%;
  }

}