.app--nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #002238;
  height: 64px;
}

.app--nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app--nav__item {
  color: #e8674d;
  float: right;
  margin-right: 16px;
  text-decoration: none;
  line-height: 64px;
}

.app--nav__logo {
  float: left;
  height: 64px;
  margin-left: 16px;
  color: #FFF;
  margin: 0;
}

.app--nav__img {
  height: 40px;
  margin: 12px;
  float: left;
}

.app--nav__title {
  float: left;
  display: block;
  line-height: 64px;
}