<div class="after-woa">

  {{#slick-slider autoplay=true arrows=false}}
    <div class="box">
      <div class="sliderBox">
        <img src="/assets/images/march_for_science_banner.jpg">
      </div>
    </div>
    <div class="box">
      <div class="sliderBox">
        <img src="/assets/images/march_for_science_banner.jpg">
      </div>
    </div>
    <div class="box">
      <div class="sliderBox">
        <img src="/assets/images/march_for_science_banner.jpg">
      </div>
    </div>
    <div class="box">
      <div class="sliderBox">
        <img src="/assets/images/march_for_science_banner.jpg">
      </div>
    </div>
  {{/slick-slider}}

  <section class="callToAction">
    <h3>Green thing</h3>
    <p class="u-grid-container">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Blanditiis dolores dolorum error ex harum id in minus nam, neque perferendis,
      placeat quasi quibusdam recusandae reiciendis, soluta voluptatem voluptatum.
      Esse, vitae.</p>
  </section>

  <section class="byTheNumbers">
    <h3>by the numbers</h3>
    <ul>
      <li>
        <h4>666</h4>
        <span>marches</span>
      </li>
      <li>
        <h4>666</h4>
        <span>marches</span>
      </li>
      <li>
        <h4>666</h4>
        <span>marches</span>
      </li>
    </ul>
  </section>

  <section class="callToAction">
    <p class="u-grid-container">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Aut beatae deleniti dolores facere illum laboriosam nam neque numquam officia perspiciatis possimus,
      qui quisquam ratione reprehenderit sed soluta sunt ut voluptas.</p>
  </section>

  <section class="whatYouCanDo u-grid-container">
    <ul>
      <li>
        <img src="http://placekitten.com/300/350"/>
        <h4>HEADER!!!</h4>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Adipisci aspernatur consequuntur corporis eaque facilis illum,
          incidunt itaque iure labore magnam modi mollitia, porro quasi sequi similique soluta temporibus veniam voluptas?
        </div>
      </li>
      <li>
        <img src="http://placekitten.com/300/350"/>
        <h4>HEADER!!!</h4>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Adipisci aspernatur consequuntur corporis eaque facilis illum,
          incidunt itaque iure labore magnam modi mollitia, porro quasi sequi similique soluta temporibus veniam voluptas?
        </div>
      </li>
      <li>
        <img src="http://placekitten.com/300/350"/>
        <h4>HEADER!!!</h4>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Adipisci aspernatur consequuntur corporis eaque facilis illum,
          incidunt itaque iure labore magnam modi mollitia, porro quasi sequi similique soluta temporibus veniam voluptas?
        </div>
      </li>
    </ul>
  </section>


  <section class="socialMedia">
    <ul class="socialMedia-links u-text-h1">
      <li>
        <a class="fa fa-twitter" href="https://www.twitter.com/scienceMarchDC" target="_blank" {{action 'clickTrack' 'social-media-twitter' preventDefault=false}}></a>
      </li>
      <li>
        <a class="fa fa-facebook-f" href="https://www.facebook.com/marchforscience" target="_blank" {{action 'clickTrack' 'social-media-facebook' preventDefault=false}}></a>
      </li>
      <li>
        <a class="fa fa-instagram" href="https://www.instagram.com/sciencemarchdc" target="_blank" {{action 'clickTrack' 'social-media-instagram' preventDefault=false}}></a>
      </li>
    </ul>
  </section>

  <!--<section>-->
    <!--<header>Tell your Story</header>-->
    <!--<input />-->
    <!--<input />-->
    <!--<input />-->
  <!--</section>-->

</div>
