<div class="after-woa">




  {{#slick-slider autoplay=true arrows=false}}
    <header class="jumbotron">
      <div class="textContainer u-text-center">
        <span class="jumbotron-textContainer-date">On April 22, 2017</span>
        <h1 class="u-text-orange u-text-bold u-text-center">We marched.</h1>
        <h2>Now, we act.</h2>
        <span class="jumbotron-textContainer-tag">
        <span class="u-text-bold weekOfActionLink">
          {{#link-to 'index'}}check out the week of action{{/link-to}}
        </span>
      </span>
      </div>
    </header>
    <!--<div class="box">-->
      <!--<div class="sliderBox">-->
        <!--<img src="/assets/images/march_for_science_banner.jpg">-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="box">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="sliderBox">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="/assets/images/march_for_science_banner.jpg">&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="box">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="sliderBox">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="/assets/images/march_for_science_banner.jpg">&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="box">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="sliderBox">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="/assets/images/march_for_science_banner.jpg">&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  {{/slick-slider}}

  <section class="callToAction">
    <h3>#MarchforScience
      <button>
        {{#link-to 'satellites'}}
          join the movement
        {{/link-to}}
      </button>
    </h3>
    <p class="u-grid-container">On April 22, 2017, in more than 600 cities around the world,
      <b>we marched as an unprecedented coalition of organizations and individuals.</b>
      We marched because science is critical to our health, economies, food security, and safety.
      We marched to defend the role of science in policy and society.</p>
  </section>

  <section class="byTheNumbers">
    <h3>by the numbers</h3>
    <ul>
      <li>
        <h4>300+</h4>
        <span>partners</span>
      </li>
      <li>
        <h4>600+</h4>
        <span>marches</span>
      </li>
      <li>
        <h4>300+</h4>
        <span>new voters</span>
      </li>
    </ul>
  </section>

  <section class="socialMedia">
    <ul class="socialMedia-links u-text-h1">
      <li>
        <a class="fa fa-twitter" href="https://www.twitter.com/scienceMarchDC" target="_blank" {{action 'clickTrack' 'social-media-twitter' preventDefault=false}}></a>
      </li>
      <li>
        <a class="fa fa-facebook-f" href="https://www.facebook.com/marchforscience" target="_blank" {{action 'clickTrack' 'social-media-facebook' preventDefault=false}}></a>
      </li>
      <li>
        <a class="fa fa-instagram" href="https://www.instagram.com/sciencemarchdc" target="_blank" {{action 'clickTrack' 'social-media-instagram' preventDefault=false}}></a>
      </li>
    </ul>
  </section>

  <section class="callToAction">
    <p class="u-grid-container">We are science advocates and scientists who share an important goal:
      to champion science for the common good.
      Together we are building a powerful, international, interdisciplinary movement focused on:
    </p>
  </section>

  <section class="whatYouCanDo">
    <ul class="u-grid-container">
      <li>
        <div class="whatYouCanDo-imageContainer">
        <img src="images/moreCTA/utensils-01.svg"/>
        </div>
        <h4>Strengthening the role of science in policymaking</h4>
        <!--<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
          <!--Adipisci aspernatur consequuntur corporis eaque facilis illum,-->
          <!--incidunt itaque iure labore magnam modi mollitia, porro quasi sequi similique soluta temporibus veniam voluptas?-->
        <!--</div>-->
      </li>
      <li>
        <div class="whatYouCanDo-imageContainer">
          <img src="images/moreCTA/peeps.svg"/>
        </div>

        <h4>Improving science outreach and communication</h4>
        <!--<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
          <!--Adipisci aspernatur consequuntur corporis eaque facilis illum,-->
          <!--incidunt itaque iure labore magnam modi mollitia, porro quasi sequi similique soluta temporibus veniam voluptas?-->
        <!--</div>-->
      </li>
      <li>
        <div class="whatYouCanDo-imageContainer">
        <img src="images/moreCTA/owl.svg"/>
        </div>
        <h4>Advancing science education and scientific literacy</h4>
        <!--<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
          <!--Adipisci aspernatur consequuntur corporis eaque facilis illum,-->
          <!--incidunt itaque iure labore magnam modi mollitia, porro quasi sequi similique soluta temporibus veniam voluptas?-->
        <!--</div>-->
      </li>
      <li>
        <div class="whatYouCanDo-imageContainer">
        <img src="images/moreCTA/atom-01.svg"/>
        </div>
        <h4>Fostering a diverse and inclusive scientific community</h4>
        <!--<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
        <!--Adipisci aspernatur consequuntur corporis eaque facilis illum,-->
        <!--incidunt itaque iure labore magnam modi mollitia, porro quasi sequi similique soluta temporibus veniam voluptas?-->
        <!--</div>-->
      </li>
    </ul>
  </section>

  <!--<section class="socialMedia">-->
    <!--ADFJADSKFHEAIOHOEWAUf-->
  <!--</section>-->

  <section class="callToAction u-grid-container">
    <p>In the coming weeks, we’ll continue to work with marchers, partner organizations,
      and satellite march organizers around the world as we plan the future of the March for Science movement.
      <br/>
      <b>The march is over, and the movement has begun. Science keeps marching forward, and so do we.</b>
    </p>
  </section>


  <!--<section>-->
    <!--<header>Tell your Story</header>-->
    <!--<input />-->
    <!--<input />-->
    <!--<input />-->
  <!--</section>-->

</div>
