<nav class="app--nav">
  {{#link-to 'index'}}
    <img class="app--nav__logo" src="images/logo_color_inverse.png" alt="March for Science Logo"/>
  {{/link-to}}
  <ul class="app--nav__list">
    <li class="app--nav__listitem">{{#user-auth}}{{/user-auth}}</li>
    <li class="app--nav__listitem">{{#link-to 'satellites'}}Satellites{{/link-to}}</li>
    <li class="app--nav__listitem">{{#link-to 'index'}}Home{{/link-to}}</li>
  </ul>
</nav>

{{notification-container}}

<main>
  {{outlet}}
</main>

<footer>
</footer>