<div class="home-page">

  <header class="jumbotron">
    <div class="textContainer">
      <span class="date">On April 22, 2017</span>
      <h1 class="u-text-orange">We marched.</h1>
      <h2>Now, we act.</h2>
      <span>Week of action * April 22-29, 2017</span>
    </div>
  </header>

  <ul class="scienceCalendar">
    <li class="active">
      <img src="images/button-inactive.svg"/>
      <a href="">
        <span class="u-text-white u-text-light scienceCalendar-dayTag">sunday</span>
        <span class="u-text-white scienceCalendar-scienceTag">science</span>
        <span class="flex-1">engages</span>
      </a>
    </li>
    <li>
      <img src="images/button-inactive.svg"/>
      <a href="">
        <span class="u-text-white u-text-light scienceCalendar-dayTag">monday</span>
        <span class="u-text-white scienceCalendar-scienceTag">science</span>
        <span class="flex-1">discovers</span>
      </a>
    </li>
    <li>
      <img src="images/button-inactive.svg"/>
      <a href="">
        <span class="u-text-white u-text-light scienceCalendar-dayTag">tuesday</span>
        <span class="u-text-white scienceCalendar-scienceTag">science</span>
        <span class="flex-1">empowers</span>
      </a>
    </li>
    <li>
      <img src="images/button-inactive.svg"/>

      <a href="">
        <span class="u-text-white u-text-light scienceCalendar-dayTag">wednesday</span>
        <span class="u-text-white scienceCalendar-scienceTag">science</span>
        <span class="flex-1">creates</span>
      </a>
    </li>
    <li>
      <img src="images/button-inactive.svg"/>

      <a href="">
        <span class="u-text-white u-text-light scienceCalendar-dayTag">thursday</span>
        <span class="u-text-white scienceCalendar-scienceTag">science</span>
        <span class="flex-1">communicates</span>
      </a>
    </li>
    <li>
      <img src="images/button-inactive.svg"/>

      <a href="">
        <span class="u-text-white u-text-light scienceCalendar-dayTag">friday</span>
        <span class="u-text-white scienceCalendar-scienceTag">science</span>
        <span class="flex-1">advocates</span>
      </a>
    </li>
    <li>
      <img src="images/button-inactive.svg"/>
      <a href="">
        <span class="u-text-white u-text-light scienceCalendar-dayTag">saturday</span>
        <span class="u-text-white scienceCalendar-scienceTag">science</span>
        <span class="flex-1">connects</span>
      </a>
    </li>
  </ul>

  <div class="QOD u-text-light">"A movement in motion stays in motion."</div>

  <ul class="callToAction">
    <li class="callToAction-leftCall">
      <div>
        <header>
          <img src="images/icon-globe.svg"/>
          <h3>Join the march for science network</h3>
        </header>
        <p class="callToAction-body">This is just the beginning. Many Satellites are signing on to become a permanent part of the March for Science network. You can create an account and register to get updates nationwide and in your local community. Keep an eye on your Satellite’s homepage; we’re rolling out exciting new features to keep you informed and connected in the coming weeks!</p>
        <div>
          <button class="u-button">{{#user-auth}}{{/user-auth}}</button>
          <button class="u-button">{{#link-to 'satellites'}}browse satellites{{/link-to}}</button>
        </div>
      </div>
    </li>
    <li class="callToAction-rightCall">
      <div>
        <header>
          <img src="images/icon-bulb.svg"/>
          <h3>Listen to the post-march podcast</h3>
        </header>
        <p class="callToAction-body">March for Science and the Taste of Science are co-hosting a podcast at the Carnegie Institute. Tune in to listen to organizers and community members share stories from the March and their vision for the future.</p>
        <div>
          <button class="u-button">listen now</button>
        </div>
      </div>
    </li>
  </ul>


  <section class="socialMedia">
    <div class="socialMedia-squiggleContainer">
      <span style="flex:8"></span>
      <img src="images/squiggle.svg"/>
      <span style="flex:2"></span>
    </div>
    <header>
      <h1>#KEEPMARCHING</h1>
      <button class="u-button">
        <span class="socialMedia-actionWhat">Tell us how YOU marched for science. </span>
      </button>
    </header>

    <p class="socialMedia-longActionStory u-text-light u-text-gray5 u-grid-container">On April 22, 2017, over 500 Marches worldwide stood up for science. Today is all about celebrating the accomplishments of local communities, pushing the conversation forward, and reflecting on the power of this movement. Post pictures of where you marched or the sign you held.
    <span class="u-text-bold">Share your favorite experiences, stories of the people you met, the things you learned, or what you’re inspired to do next.</span></p>
    <ul class="socialMedia-links u-text-gray5 u-text-h1">
      <li class="fa fa-twitter"></li>
      <li class="fa fa-facebook-f"></li>
      <li class="fa fa-instagram"></li>
    </ul>
  </section>

  <section class="moreCallToAction">
    <header>
      <h1 class="u-text-h1 u-text-black">MORE WAYS TO GET INVOLVED</h1>
    </header>
    <ul>
      <li>
        <img src="images/icon-book.svg"/>
        <p class="u-text-bold">Defend the role of science in a new political era - An open letter to President Trump and the 115th Congress
           <span class="u-text-light">Union of Concerned Scientists</span>
        <p class="u-text-normal">Join Nobel Laureates, prominent scientists, and fellow experts on an open letter outlining expectations for the use of science in the Trump administration here.</p>
        </p>
      </li>
      <li>
        <img src="images/icon-apple.svg"/>
        <p class="u-text-bold">Join a science teach-in!
          <span class="u-text-light">National Center for Science Education (NCSE)</span>
          <p class="u-text-normal"> NCSE has developed Science Teach-In Toolkits to help scientists share knowledge and raise awareness about science and its value to society. View the toolkit here.</p>
        </p>
      </li>
      <li>
        <img src="images/icon-talk.svg"/>
        <p class="u-text-bold">Learn how to give a talk in your local community
          <span class="u-text-light">American Geophysical Union</span>
          <p class="u-text-normal"> Reaching out to local groups is a great way to share your science and explain why it’s relevant and important to your community. View AGU's resources here.</p>
        </p>
      </li>
    </ul>
  </section>
</div>
