
<section id="satellites-page" class="u-grid-container">

  {{world-map satellites=satellites.list}}

  <h1 class="u-text-center u-text-orange">{{t 'satellites.search_primary_cta' count=satelliteCount}}</h1>
  <h2 class="u-text-center u-text-blue">{{t 'satellites.search_secondary_cta'}}</h2>

  <div class="satellite-typeahead u-grid-12 u-grid-center">
    {{aupac-typeahead
        modelClass='satellite'
        source=satelliteQuery
        limit='999'
        transformSelection=transformSelection
        placeholder=(t 'satellites.typeahead_search')
        action=(action 'selectSatelliteTypeahead')
        suggestionTemplate=customSuggestionTemplate
    }}
  </div>

</section>