<header class="vision__header">

  <div class="vision__header--textbox">
    <h3 class="u-text-capital u-text-white u-text-h5 u-text-light">on April 22, 2017</h3>
    <h1 class="u-text-capital u-text-orange u-text-bold">What's Next</h1>
    <h2 class="u-text-capital u-text-white u-text-h5 u-text-bold" style="font-weight: bold;">Turning a march into a movement</h2>
  </div>

</header>

<main>
  <section class="u-grid-container u-text-center vision__section ">
    <p class="vision__tall-copy u-grid-20 u-grid-center">March for Science has mobilized an unprecedented coalition of people committed to championing the role of science in supporting the common good. Now, our work continues as we transition to a nonprofit organization.</p>
    <p class="u-text-h4" style="margin-bottom: 24px;"><b>Together, we can turn this momentum into long-term impact.</b></p>
  </section>
</main>

<h2 class="vision__block-header vision__block-header--orange">Our Vision</h2>

<section class="vision__section u-grid-container u-text-center">
  <h3 class="vision__goal-header">Empower Supporters</h3>
  <p class="vision__goal-copy">To take informed political actions</p>

  <h3 class="vision__goal-header">Connect Communities</h3>
  <p class="vision__goal-copy">Around local and national issues, and</p>

  <h3 class="vision__goal-header">Engage the Public</h3>
  <p class="vision__goal-copy">To support diversity, access, literacy, and education in STE(A)M.</p>

  <p class="vision__goal-header" style="text-transform: none;margin: 32px 0;">In short, our goal is to</p>

  <h1 style="font-size: 5.2rem; font-weight: bold;line-height: 4.8rem;">
    <span style="color: rgba(0,0,0,.55);letter-spacing: 1px;">CHAMPION</span>
    <span style="color: rgba(0,0,0,.35);letter-spacing: 1px;">SCIENCE</span><br/>
    <span style="color: rgba(0,0,0,.55);font-weight: 200;">FOR THE COMMON GOOD</span>
  </h1>

  <p class="u-text-h4 u-text-normal" style="margin: 24px 0;" >In service of this vision, we are building the team, network, and infrastructure to support the following:</p>

  <div class="u-grid-12 u-text-left vision__quad-section">
    <h4 class="u-text-orange u-text-bold u-text-uppercase">Global Network</h4>
    <p><b>Creating an international coaltiion working together to improve the relationship between science and society</b></p>
    <p>We have an opportunity to coordinate our efforts like never before. By providing infrastructure to support Satellite chapters of March for Science across the world, we can stay connected to our local communitie and to each other. Organizing and sustaining this network will provide long-term opportunities for collective impact.</p>
  </div>

  <div class="u-grid-12 u-grid-last u-text-left vision__quad-section">
    <h4 class="u-text-orange u-text-bold u-text-uppercase">Resource Hub</h4>
    <p><b>Maintaining a library of best practices, toolkits, and resources to support change agents everywhere</b></p>
    <p>Nobody in this network should have to start at square one when implementing educational programs, organizing community e orts, or handling administrative needs. By synthesizing and sharing our knowledge and resources, we can streamline logistics to focus on the important work to be done locally and nationally.</p>
  </div>


  <div class="u-grid-12 u-text-left vision__quad-section">
    <h4 class="u-text-orange u-text-bold u-text-uppercase">Collaborative Programs</h4>
    <p><b>Working with partner organizations to cra , extend, and promote high impact programs</b></p>
    <p>The best way to make progress is by working together and complementing each other's strengths. We will identify promising programs created by partner organizations to either co-develop, scale and disseminate, or cra  resources inspired by a particular program. By starting at the edge of what's already being done well, we can create more opportunities for real change.</p>
  </div>

  <div class="u-grid-12 u-grid-last u-text-left vision__quad-section">
    <h4 class="u-text-orange u-text-bold u-text-uppercase">Original Programs</h4>
    <p><b>Identifying gaps and developing innovative programs in support of our mission</b></p>
    <p>By paying attention to what works well and considering bold ideas from across our teams, we will design novel programs that can be distributed broadly. Our programs will emphasize building bridges and tools that can be tailored to both national needs and the unique needs of the local communities our network comprises.</p>
  </div>

</section>

<h2 class="vision__block-header vision__block-header--teal">Our Pillars</h2>

<section class="vision__section u-grid-container u-text-center">
  <h2 class="u-text-teal u-text-h5 u-grid-20 u-grid-center">We have a lot of work to do. By focusing our energy on these three key and complementary areas, we can tackle both the most urgent needs and address the mechanisms that will make the biggest difference in the long run.</h2>

  <div class="vision__pillar u-grid-8">
    <h3 class="vision__pillar-headline u-text-capital">Policy <span>& Advocacy</span></h3>
    <h4 class="vision__piller-description u-text-h6 u-text-capital u-color-gray5">Actiate existing science advocates by facilitating access to skills and resources for efffecting change.</h4>

    <h5 class="vision__piller-subhead">Goals</h5>
    <ul class="vision__piller-goals">
      <li>Activism</li>
      <li>Civic Literacy</li>
      <li>Political Engagement</li>
    </ul>

    <h5 class="vision__piller-subhead">Audience</h5>
    <ol>
      <li>Allies who want to effect political or legislative change.</li>
      <li>Citizens who want to understand science's role in policy/government.</li>
      <li>Scientists who want to get into local or national politics.</li>
    </ol>

    <h5 class="vision__piller-subhead">Summary</h5>
    <p class="vision__piller-summary u-grid-center u-text-left">Evidence-based policy must be prioritized and protected. In support of this goal, individuals must be informed, coordinated and prepared to act. In addition to providing immediate calls to action, educating about civic literacy and the current state of science in policy is euqally important. To this end, we will spearhead projects that leverage scientific insights and strategies for e ecting change through political movements as well as promoting specific action items that address salient or threatened issues.</p>

  </div>


  <div class="vision__pillar u-grid-8">
    <h3 class="vision__pillar-headline u-text-capital">Community <span>& Networking</span></h3>
    <h4 class="vision__piller-description u-text-h6 u-text-capital u-color-gray5">MAINTAIN SATELLITE ENGAGEMENT, CONNECT AND EMPOWER COMMUNITIES, AND COORDINATE CROSS-DISCIPLINARY CONVERSATIONS AROUND NATIONAL ISSUES.</h4>
    <h5 class="vision__piller-subhead">Goals</h5>
    <ul class="vision__piller-goals">
      <li>Connection</li>
      <li>Communication</li>
      <li>Resource Sharing</li>
    </ul>

    <h5 class="vision__piller-subhead">Audience</h5>
    <ol>
      <li>Local leaders who want to facilitate community action.</li>
      <li>Citizens who want to know what's going in their community.</li>
      <li>Scientists who want to give back to their communities.</li>
    </ol>

    <h5 class="vision__piller-subhead">Summary</h5>
    <p class="vision__piller-summary u-grid-center u-text-left">The 400+ satellite Marches happening internationally provide an incredible opportunity to empower communities. By creating infrastructure to support community action and engagement, we can give city-based Action Teams a solid foundation to build upon. It is critical to prioritize training, supporting, and maintaining Action Teams in each region/city while supporting the further development of complementary projects that improve communications and coordination between cities and siloes.</p>
  </div>


  <div class="vision__pillar u-grid-8 u-grid-last">
    <h3 class="vision__pillar-headline u-text-capital">Education <span>& Access</span></h3>
    <h4 class="vision__piller-description u-text-h6 u-text-capital u-color-gray5">REACH A BROADER AUDIENCE AND ADDRESS CRITICAL GAPS THROUGH THE CREATION AND DISSEMINATION OF EDUCATIONAL TOOLS & PLATFORMS.</h4>

    <h5 class="vision__piller-subhead">Goals</h5>
    <ul class="vision__piller-goals">
      <li>Accessible Evidence</li>
      <li>Diversity & Representation</li>
      <li>STE(A)M Engagement & Literacy</li>
    </ul>

    <h5 class="vision__piller-subhead">Audience</h5>
    <ol>
      <li>Scientists who wants to share my research with the public.</li>
      <li>Science enthusiasts who want to stay informed.</li>
      <li>Advocates who want to engage and empower others.</li>
    </ol>

    <h5 class="vision__piller-subhead">Summary</h5>
    <p class="vision__piller-summary u-grid-center u-text-left">Lack of education, access, and inclusive messaging are underlying mechanisms that perpetuate many of the issues we face. By identifying, nurturing, and distributing promising educational projects, we can channel momentum into action items that stand to have a long-term impact on progress. Addressing urgent policy issues is crucial. However, by considering the factors that e ect cultural norms, attitudes, and behaviors, we can simultaneously work towards building a more informed and effective society in the future.</p>

  </div>

</section>

<h2 class="vision__block-header vision__block-header--blue">Our Strategy</h2>

<section class="u-grid-container">

</section>

<section class="u-grid-container">

  <ul class="vision__strategy-list">
    <li>
      <h3 class="u-text-blue"><b>POLICY & ADVOCACY</b> | Mobilizing informed political action</h3>
      <h4 class="u-text-capital u-text-orange">ACTIVISM • CIVIC LITERACY • POLITICAL EMPOWERMENT</h4>
      <p class="u-text-gray5">We will provide a gateway to educational resources on the current role of science in the legislative system, interviews with scientist-politicians, specific action items that support evidence-based policy, technical infrastructure for local alerts, and science-backed strategies for e ective political movements.</p>
    </li>
    <li>
      <h3 class="u-text-blue"><b>COMMUNITY & NETWORKING</b> | Supporting impact across communities</h3>
      <h4 class="u-text-capital u-text-orange">WEB INFRASTRUCTURE • CONNECTION • COMMUNICATION • RESOURCE SHARING</h4>
      <p class="u-text-gray5">Every Satellite will manage a local website with features designed to make community organizing and engagement easy. Satellites have control over their priorities and actions without investing resources in platform design or maintenance. We will also o er opportunities for network-wide and regional peer-to-peer dialogue.</p>
    </li>
    <li>
      <h3 class="u-text-blue"><b>EDUCATION & ACCESS</b> | Addressing barriers to progress</h3>
      <h4 class="u-text-capital u-text-orange">ACCESSIBLE EVIDENCE • DIVERSITY, EQUITY & INCLUSION • STE(A)M LITERACY</h4>
      <p class="u-text-gray5">Lack of education, access, and inclusive messaging are underlying mechanisms that perpetuate many of the issues we face. We will work closely with Satellites and partners to develop and promote initiatives that aim to improve the relationship between science and society through novel engagement and empowerment strategies.</p>

    </li>
    <li>
      <h3 class="u-text-blue"><b>LEGAL, FINANCIAL & ADMINISTRATIVE</b> | Providing logistical support</h3>
      <h4 class="u-text-capital u-text-orange">TRAINING • ORGANIZATIONAL STRUCTURE</h4>
      <p class="u-text-gray5">To ensure that Satellites can operate regardless of their size or local infrastructure, we’ll provide financial and legal resources to support their e orts. We aim to strike the balance between grassroots autonomy and cultivating a unified, organized movement. Training will promote leadership in STE(A)M access, equity & inclusion across e orts.</p>
    </li>
    <li>
      <h3 class="u-text-blue"><b>RESOURCE LIBRARY</b> | Pooling knowledge and strategies</h3>
      <h4 class="u-text-capital u-text-orange">TOOLKITS • GUIDES • MATERIALS</h4>
      <p class="u-text-gray5">Do you have a rockstar social media team? Have you figured out an innovative way to engage hard-to-reach communities? We’ll support Satellites, partners, and contributors in creating and sharing “How-To” Guides, Powerpoints, Open Source Materials, or Resource Packets on topics that the broader network will benefit from.</p>
    </li>
  </ul>

</section>

<h2 class="vision__block-header vision__block-header--gray">Get Involved</h2>

<section class="u-grid-container">

  <ul class="vision__involved-list">
    <li>
      <h3 class="u-text-gray5 u-text-h3"><b>JOIN A SATELLITE:</b> ACTIVATE YOUR LOCAL COMMUNITY</h3>
      <p class="u-text-gray5 u-text-h4">Many Satellite March teams are signing on as an official part of the netowrk.<br>Check to see if your community has one – and if not – consider getting one started.</p>
      {{#link-to "satellites" class="u-button--large u-button--gray"}}Join a Satellite{{/link-to}}
    </li>
    <li>
      <h3 class="u-text-gray5 u-text-h3"><b>SUPPORT:</b> HELP US MOVING FORWARD</h3>
      <p class="u-text-gray5 u-text-h4">Every dollar gets us one step closer to our goals. <br>As a primarily volunteer-run e ort, your support makes our work possible.</p>
      <a href="https://sciencedebate.org/march" class="u-button--large u-button--gray" target="_blank">Donate</a>
    </li>
  </ul>

</section>
