<header>
  <h1 class="u-text-capital u-text-orange">What's Next</h1>
  <h2 class="u-text-capital u-text-white">Turning a march into a movement</h2>
</header>

<main>
  <section class="u-grid-container u-text-center vision__section ">
    <p class="vision__tall-copy u-grid-20 u-grid-center">March for Science has mobilized an unprecedented coalition of people committed to championing the role of science in supporting the common good. Now, our work continues as we transition to a nonprofit organization.</p>
    <p class="u-text-h4" style="margin-bottom: 24px;"><b>Together, we can turn this momentum into long-term impact.</b></p>
  </section>
</main>

<h2 class="vision__block-header vision__block-header--orange">Our Vision</h2>

<section class="vision__section u-grid-container u-text-center">
  <h3 class="vision__goal-header">Empower Supporters</h3>
  <p class="vision__goal-copy">To take informed political actions</p>

  <h3 class="vision__goal-header">Connect Communities</h3>
  <p class="vision__goal-copy">Around local and national issues, and</p>

  <h3 class="vision__goal-header">Engage the Public</h3>
  <p class="vision__goal-copy">To support diversity, access, literacy, and education in STE(A)M.</p>

  <p class="vision__goal-header" style="text-transform: none;margin: 32px 0;">In short, our goal is to</p>

  <h1 style="font-size: 5.2rem; font-weight: bold;line-height: 4.8rem;">
    <span style="color: rgba(0,0,0,.55);letter-spacing: 1px;">CHAMPION</span>
    <span style="color: rgba(0,0,0,.35);letter-spacing: 1px;">SCIENCE</span><br/>
    <span style="color: rgba(0,0,0,.55);font-weight: 200;">FOR THE COMMON GOOD</span>
  </h1>

  <p class="u-text-h4 u-text-normal" style="margin: 24px 0;" >In service of this vision, we are building the team, network, and infrastructure to support the following:</p>

  <div class="u-grid-12 u-text-left vision__quad-section">
    <h4 class="u-text-orange u-text-bold u-text-uppercase">Global Network</h4>
    <p><b>Creating an international coaltiion working together to improve the relationship between science and society</b></p>
    <p>We have an opportunity to coordinate our efforts like never before. By providing infrastructure to support Satellite chapters of March for Science across the world, we can stay connected to our local communitie and to each other. Organizing and sustaining this network will provide long-term opportunities for collective impact.</p>
  </div>

  <div class="u-grid-12 u-grid-last u-text-left vision__quad-section">
    <h4 class="u-text-orange u-text-bold u-text-uppercase">Resource Hub</h4>
    <p><b>Maintaining a library of best practices, toolkits, and resources to support change agents everywhere</b></p>
    <p>Nobody in this network should have to start at square one when implementing educational programs, organizing community e orts, or handling administrative needs. By synthesizing and sharing our knowledge and resources, we can streamline logistics to focus on the important work to be done locally and nationally.</p>
  </div>


  <div class="u-grid-12 u-text-left vision__quad-section">
    <h4 class="u-text-orange u-text-bold u-text-uppercase">Collaborative Programs</h4>
    <p><b>Working with partner organizations to cra , extend, and promote high impact programs</b></p>
    <p>The best way to make progress is by working together and complementing each other’s strengths. We will identify promising programs created by partner organizations to either co-develop, scale and disseminate, or cra  resources inspired by a particular program. By starting at the edge of what’s already being done well, we can create more opportunities for real change.</p>
  </div>

  <div class="u-grid-12 u-grid-last u-text-left vision__quad-section">
    <h4 class="u-text-orange u-text-bold u-text-uppercase">Original Programs</h4>
    <p><b>Identifying gaps and developing innovative programs in support of our mission</b></p>
    <p>By paying attention to what works well and considering bold ideas from across our teams, we will design novel programs that can be distributed broadly. Our programs will emphasize building bridges and tools that can be tailored to both national needs and the unique needs of the local communities our network comprises.</p>
  </div>

</section>

<h2 class="vision__block-header vision__block-header--teal">Our Pillars</h2>

<section class="vision__section u-grid-container u-text-center">
  <h2 class="u-text-teal u-text-h5 u-grid-20">We have a lot of work to do. By focusing our energy on these three key and complementary areas, we can tackle both the most urgent needs and address the mechanisms that will make the biggest difference in the long run.</h2>
</section>
